/* html {
    height: 100% !important; 
    min-height: 100% !important;
  }
  
  body {
    height: 100% !important;
    min-height: 100% !important;
  }
  
  div#root {
    height: 100% !important;
    min-height: 100% !important;
  }
  
  div.app {
    height: 100% !important;
    min-height: 100% !important;
  } */

body > #root > div {
  height: 100vh;
}
